<div id="About">
   <div class="container">
      <div class="small-heading">About us</div>
      <div class="text"> 
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia necessitatibus quam exercitationem dignissimos, sequi asperiores
         officiis tenetur, sint beatae id ducimus facere ullam adipisci tempora at ab soluta cupiditate atque quo. Nihil
         illo minus nesciunt unde, quas sapiente perspiciatis necessitatibus recusandae. Ullam, tenetur. Consequuntur iste
         eum quia ratione rerum dignissimos.
      </div>
      <div class="social">
            SOCIAL ICONS
      </div>
   </div>
</div>