{{!< default}}

   <section id="header">
      <div class="scroll-arrow">
      </div>
   </section>

   <section id="collaborators">
      <div class="collab-text">
         <div class="color-band">
            <div></div>
            <div></div>
            <div></div>
         </div>
         <div class="small-heading">
            collaborators
         </div>
      </div>
   </section>

   <section id="feed">

      <div class="feed-text">
         <div class="heading">
            Feed
         </div>
      </div>

         {{# each videos}}
         <a href="player/{{slug}}">
         <div class="feed-item" style="
      background: url('{{image.secure_url}}') no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      ">
            <div class="name">{{title}}</div>
         </div>
         </a>
         {{/each}}
   </section>

   