{{!
< default}} <!-- TODO: Distribute into section Header Feed Sponsors Footer -->

   <section id="header">
      <div class="scroll-arrow">
         v
      </div>
   </section>

   <section id="feed">

      <div class="feed-text">
         <div class="color-band">
            <div></div>
            <div></div>
            <div></div>
         </div>
         <span class="heading">
            Feed
         </span>
      </div>

      <div class="feed-container">
         {{# each videos}}
         <div class="feed-item" style="
      background: url('{{image.secure_url}}') no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      ">
            <span class="name">{{title}}</span>
         </div>
         {{/each}}
      </div>
   </section>

   <section id="collaborators">
      <div class="collab-text">
         <div class="color-band">
            <div></div>
            <div></div>
            <div></div>
         </div>
         <span class="heading">
            collaborators
         </span>
      </div>
   </section>