{{!
< default}} <section id="header">
      <div class="quote-box">
            <h1>Swag</h1>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo ex amet blanditiis facere. Praesentium quasi laboriosam dolor
            veniam atque fugiat.
      </div>
      <div class="scroll-arrow" onclick="scroller(this)">
            <?xml version="1.0" encoding="iso-8859-1"?>

            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
            <svg x="0px" y="0px" width="50px" viewBox="0 0 306 306" style="enable-background:new 0 0 306 306;" xml:space="preserve">
                  <g>
                        <g id="expand-more">
                              <polygon points="270.3,58.65 153,175.95 35.7,58.65 0,94.35 153,247.35 306,94.35 		" fill="" />
                        </g>
            </svg>
      </div>
      <div class="color-band">
            <div></div>
            <div></div>
            <div></div>
      </div>
      </section>

      <section id="collaborators">

            <div class="collab-text">
                  <div class="small-heading">
                        collaborators
                  </div>
            </div>
            <div class="logo-container">
                  {{#each collaborators}}
                  <div class="collaborator">
                        <img src="{{image.url}}" width="300px" height="auto">
                  </div>
                  {{/each}}
            </div>
      </section>

      <section id="feed">
            <div class="feed-text">
                  <div class="heading">
                        Latest
                  </div>
            </div>
            <div class="feed-container">
                  {{# each videos}}
                  <a href="/player/{{slug}}" class="feed-item" style="
      background: url('{{image.secure_url}}') no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      ">
                        <div class="name">{{title}}</div>
                  </a>
                  {{/each}}
            </div>

      </section>