{{!
< default}} <section id="header">
      <div class="quote-box">
            <div class="title">Swag</div>

            <div class="quote">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo ex amet blanditiis facere. Praesentium quasi laboriosam dolor
                  veniam atque fugiat.
            </div>
            <div class="author">
                  -Unknown.
            </div>
      </div>
      <div onclick="scroller(this);" class="scroll-arrow">
            <svg viewBox="0 0 129 129" enable-background="new 0 0 129 129">
                  <g>
                        <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"
                        />
                  </g>
            </svg>

      </div>
      </section>

      <section id="feed">
            <div class="color-band">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
            </div>
            <div class="feed-container">
                  {{# each videos}}
                  <a href="/player/{{slug}}" class="feed-item" style="
      background: url('{{image.url}}') no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      ">
                        <div class="name">{{title}}</div>
                  </a>
                  {{/each}}
            </div>

      </section>