<div class="music-text">
   <div class="heading">
      music videos
   </div>
</div>

<div class="feed-container">
   {{# each videos}}
   <div class="feed-item" style="
         background: url('{{image.secure_url}}') no-repeat center center;
         -webkit-background-size: cover;
	      -moz-background-size: cover;
	      -o-background-size: cover;
	      background-size: cover;
         ">
      <div class="name">{{title}}</div>
   </div>
   {{/each}}
</div>