@font-face {
	font-family: font_med;
	src: url('/fonts/helvetica_neue/thin.ttf');
}
@font-face {
	font-family: font_thin;
	src: url('/fonts/helvetica_neue/med.ttf');
}
@font-face {
	font-family: font_bold;
	src: url('/fonts/helvetica_neue/bold.ttf');
}

html,
body,{
	font-family: font_thin;
	background: #D9DBD8;
	position: relative;
	min-height: 100.1vh;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

div#body {
	background: #0D1323;
}

div#body>div{
	min-height: 100vh;
}

h1 {
	padding: 0;
	margin: 0;
}

a:visited {
	color: black;
}

#nav {
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 62px;
	overflow: hidden;
	-webkit-transition: background .3s, height .3s ; 
	transition: background .6s, height .3s, box-shadow 0.5s ;

}

#nav.scrolling {
	padding: 0;
	background: #0D1323;
	height: 60px;
	box-shadow: 0px 1px 20px 5px rgba(0, 0, 0, 0.4);
}

#nav ul {
	display: none;
	margin: 5px 0 0 0;
	list-style-type: none;
	float: right;
	transition: padding .3s;
	@media only screen and (min-width: 1050px) {
		display: block;
	}
}

#nav .burger {
	display: none;
	position: fixed;
	right: 0;
	top: 0;
	text-shadow:0px 0px 2px  rgba(0, 0, 0, 0.4);
	@media only screen and (max-width: 1050px) {
		display: block;
	}
}

#nav #burger-icon {
	cursor: pointer;
	position: absolute;
	padding: 12px 20px;
	right: 0;
	transition: all 1s;
}

#burger-icon .bar1, .bar2, .bar3 {
	width: 30px;
	height: 2px;
	background-color: white;
	margin: 7px 0;
	transition: 0.4s;
}

.open-burger {
	background: #0D1323;
}

.open .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 10px) ;
	transform: rotate(-45deg) translate(-3px, 11px) ;
}
.open .bar2 {
	opacity: 0;
}
.open .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
	transform: rotate(45deg) translate(-2px, -10px) ;
}

#nav .burger-nav-links {
	width:100vw;
	height: 0;
	overflow: hidden;
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	text-align: center;
	transition: all 0.5s;
}

#nav  .burger-nav-links a {
	opacity: 0;
	border-bottom: 0.05px solid #0c1121;
	padding: 20px 0;
}


#nav .burger-nav-links.activate a{
	animation: fade 0.6s forwards;
}

#nav .burger-nav-links.activate {
	background: #0D1323;
	height: max-content;
}
#nav .burger-nav-links.activate a:hover {
	background: #0c1121;
	transition: background 0.5s;
}

#nav-list {
	padding: 15px 18px;
}

#nav-list.scrolling {
	padding: 10px 18px;
}

#nav li {
	color: white;
	display: inline-block;
	text-decoration: none;	
	padding: 5px 20px;
}

#nav a {
	text-decoration: none;
	font-size: 18px;
	color: white;
	transition: all 0.05s;
}

#nav a:visited {
	color: white;
}

#nav li a:hover {
	transform: scale(1.05);
}

#nav .active a{
	animation: fadeColor 0.5s forwards;
	transition: color 1s;
	color: white;
}

#nav .logo {
	position: fixed;
	z-index: 2;
	transition: all 0.3s;
	width: 210px;
	height: auto;
}

section {
	position: relative;
}

.quote-box{
	color: white;
	opacity: 0;
	font-size: 20px;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	top: 50%;
	left: 50%;
	padding: 50px;
	transform: translate(-50%,-50%);
	width: 70%;
	height: 50%;
	transition: opacity 0.7s;
	margin-left: 10%;
	padding-bottom: 15%;
	@media screen and (min-width:1050px) {
		width: 50%;
	}
}

.quote-box .title{
	font-size: 22px;
	font-weight: bold;
	width: max-content;
	display: inline-block;
	border-bottom: 10px solid #E2CC00;
}

.quote {
	font-family: font_med;
	font-size: 15px;
	width: 70%;
	@media screen and (min-width: 1050px){
		width: 45%;
	}
}

.quote-box .author {
	width: 100%;
	font-weight: bold;
	font-size: 15px;
}

.quote-box:hover {
	opacity: 1;
}

.scroll-arrow{
	position: absolute;
	width: 50px;
	margin-right: -50%;
	bottom: 17px;
	left: 50%;
	transform: translate(-50%, 0);
	
	svg {
		width: 70px;
		height: 70px;
		path{
			cursor: pointer;
			transition: fill 0.5s ease;
			fill: #0D1323;
			&:hover{
				fill: #fff;
			}
		}
	}
}

.icon svg circle{
	&:nth-child(1){
		fill:#D22215;
		&:hover{

		}
	}
	&:nth-child(2){
		fill:#A81411;
		&:hover{
			fill:#D22215
		}
	}
	&:nth-child(3){
		fill:#D1D1D1;
		&:hover{

		}
	}
}

.color-band {
	height: 9px;
	width: 100%;
	display: flex;
}

.color-band div {
	width:25%;
	height: 100%;
	background: #E2CC00;

	&:nth-child(1){ background: #283D7F; }
	&:nth-child(2){ background: #E16991; }
	&:nth-child(3){ background: #DA3231; }
}

.color-band div:last-child {
	
}


#header {
	height: 100vh;
	background: url('/images/background.jpg') no-repeat center center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	  background-size: cover;
}

#feed {
}

.feed-text {
	position: relative;
	height: 200px;
}

.music-text>div {
	text-align: center;
}

.heading {
	animation: fadeInFromTop 1s forwards;
	font-family: font_bold;
	color: #E2CC00;
	font-size: 2.5em;
	text-align: center;
	@media only screen and (min-width: 1200px) {
	}

}

.heading-text {
	animation: fade 4s forwards;
	font-family: font_med;
	color: white;
	font-size: 15px;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	@media only screen and (min-width: 1200px) {
		width: 40%;
	}

}


.social-icons {
	display: flex;
	position: absolute;
	min-width: 200px;
	height: 50px;
	border:1px solid black;
	bottom: 0;
	right: 0;
	justify-content: space-around;
	align-items: center;
}

.social-icons .icon{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: black;
	transition: background 0.8s;
	&:hover{
		background: white;
	}
}



.feed-container {
	display: flex;
	flex-wrap: wrap;
}

.feed-container a{
	opacity: 0;
}
.feed-container.scrolled a{
	animation: seqInFI 1s forwards;
	@for $i from 1 through 8 {
		&:nth-child(#{$i}) {
			 animation-delay: $i * 0.2s; 
		}
  }
}

.feed-item {
	color: black;
	position: relative;
	flex-basis: 100%;
	height: 250px;
	@media only screen and (min-width: 850px) {
		height: 350px;
		flex-basis: 50%;
	}

}

.feed-item .name {
	position: absolute;
	bottom: 10px;
	left: 50%;
	text-align: center;
	min-width: 250px;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
	font-size: 12px;
	background: white;
	padding: 10px;
}

#collaborators {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.collab-text {
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 10px;
	flex-basis: 10%;
	text-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4)
}

.logo-container {
	flex-basis: 100%;
	display: flex;
	@media screen and (min-width: 1050px) {
		width: 40%;
	}
}

.collaborator {
	padding: 0 20px ;
}

.collaborator img {
	padding: 10px;
	width: 50px;
	height: auto;
}

#Video .feed-container {
	margin-top: 50px;
}

#Video .feed-item {	
	@media screen and (min-width: 850px){
		flex-basis: 50%;
		height: 230px;
	}
	@media screen and (min-width: 1050px){
		flex-basis: 25%;
		height: 260px;
	}
} 

#About {
	width: 100%;
	height: 100vh;
	animation: fade 1.5s forwards;
}

#About .social{
	text-align: center;
	padding: 20px;
}

#About .text {
	text-align: center;
	width: 80%;
	margin: 10px auto;
	color: white;
	@media screen and (min-width: 1050px) {
		width: 40%;
	}
}



.social .social-text {
	color: grey;
	font-weight: bold;
	font-size: 20px;
	flex-basis: 55%;
}

.social .icons {
	cursor: pointer;
	flex-basis: 30px;
	height: auto;
	transition: width 0.1s;
}
.social .icons:hover{
	transform: scale(1.1);
}

#Contact {
	width: 100%;
	animation: fade 1.5s forwards;
}

#Contact .form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	margin: 20px auto;
	@media only screen and (min-width: 1050px) {
		width: 60%;
	}
}

#Contact input {
	color: white;
	background: transparent;
	width: 95%;
	height: 44px;
	padding: 0 10px;
	margin-bottom: 20px;
	border: 1px solid #E2CC00;
	font-family: font_thin;
	outline: none;
	transition: border 0.2s;
	&:focus {
		border: 1px solid #DA3231;
	}

	&::placeholder {
		color: white;
		font-size: 16px;
	}

	@media only screen and (min-width: 1050px) {
		width: 300px;
	}
}

#Contact textarea {
	outline: none;
	color: white;
	background: transparent;
	border: 1px solid #E2CC00;
	width: 95%;
	height: 101px;
	padding: 10px;
	resize: none;
	font-family: font_thin;

	&::placeholder {
		color: white;
		font-size: 16px;
	}

	transition: border 0.2s;
	&:focus {
		border: 1px solid #DA3231;
	}
	
	@media only screen and (min-width: 1050px) {
		width: 300px;
	}
}

#Contact button {
	cursor: pointer;
	width: 100px;
	padding: 10px;
	font-family: font_thin;
	color: #D9DBD8;
	background:  transparent;
	border: 1px solid #E2CC00;
	transition: border 0.5s;
	@media only screen and (min-width: 1050px) {
		float: right;
	}
}

#Contact form{
	width: 90%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 10px;
	padding-bottom: 40px; 
	@media only screen and (min-width: 1050px) {
		flex-direction: row;
	}
} 

#Contact button:hover{
	border: 1px solid #DA3231;
}

#Contact .form-group {
	margin: 10px 5px; 
}

.nav-fix {
	position: absolute;
	top: 0;
	width: 100%;
	height: 65px;
	background: #0D1323;
}

#Player {
	padding: 65px 0;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	@media screen and (min-width:1050px) {
		align-items: flex-start;
		flex-direction: row;
	}
}

#Player .video {
	width: 100vw;
	@media screen and (min-width: 1050px) {
		width: 70vw;
		order: 2;
	}
	@media screen and (min-width: 1500px) {
		width: 80vw;
	}
}

#Player .video iframe{
	width: 100%;
	height: 56.25vw;
	@media screen and (min-width: 1050px) {
		height: 39.375vw;
	}
	@media screen and (min-width: 1500px) {
		height: 45vw;
	}
	
}

#Player .description{
	width: 100%;
	display: flex;
	flex-direction: column;
}

#Player .description .title{
	padding: 10px;
}

#Player .description .main-description{
	padding: 0 30px;
	font-family: font_med;
	height: 200px;
	overflow: hidden;
	font-size: 12px;
}


#Player .player-feed{
	width: 100%;
	@media screen and (min-width: 1050px) {
		width: 30vw;
		height: calc(100vh - 62px);
		overflow: scroll;
	}
}

#Player .player-feed::-webkit-scrollbar { 
	display: none; 
}

.player-feed a:visited{
	color: black;
}

.player-feed-item {
	@media screen and (min-width: 1050px) {
		height: 220px;
	}
}

footer {
	position: absolute;
	width: 100%;
	bottom: -470px;
	height: 470px;
	background: #0D1323;
	color: white;
	border-top: 1px solid #E2CC00;
	@media screen and (min-width: 1050px) {
		bottom: -170px;
		height: 170px;
	}
}

.foot-container {
	display: flex;
	flex-direction: column;
	width: 90%;
	height: 94%;
	margin: 0 auto;
	@media screen and (min-width: 1050px) {
		flex-direction: row;
	}
}

.foot-first {
	order: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	@media screen and (min-width: 1050px ) {
		order: 3;
		justify-content: flex-end;
	}
}

.foot-second {
	order: 1;
	@media screen and (min-width: 1050px ) {
		order: 2;
	}
}

.foot-third {
	border-top: 1px solid rgba(5, 8, 19, 0.32);
	order: 3;
	@media screen and (min-width: 1050px ) {
		order: 1;
	}
}


.foot-container>div {
	flex-basis: 33.33%;
}

.foot-container .logo {
	display: none;
	@media screen and (min-width:1050px) {
		display: block;
		position: absolute;
		bottom: 15px;
	}
}

.foot-container ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: center;
	@media screen and (min-width: 1050px ) {
		text-align: start;
		padding: 15px;
	}
}

.foot-container li {
	padding: 10px 0;
	display: block;
	font-size: 12px;
	a{
		text-decoration: none;
		color:grey;
	}
}

.foot-social {
	text-align: center;
	@media screen and (min-width: 1050px ) {
	}
}

.legend {
	position: absolute;
	bottom: 15px;
	width: 100%;
	text-align: center;
	text-align: center;
	font-size: 10px;
	color: grey;
}


.subscribe {
	padding-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	@media screen and (min-width: 1050px){
		padding-top: 40px;
	}
}

.subscribe-text {
	text-align: left;
	font-size: 14px;
	padding: 10px 0;
	font-family: font_med;
	color: grey;
}

.subscribe input {
	font-family: font_med;
	color: grey;
	margin: 0 auto;
	width: 250px;
	height: 20px;
	outline: none;
	border: none;
	padding: 4px 10px;
	border-bottom: 1px solid grey;
	background: transparent;
	transition: padding 0.3s, border 0.2s;
	&:hover {
		padding: 7px 10px;
		border-bottom: 3px solid #DA3231;
	}
	&:focus {
		padding: 10px;
		border-bottom: 3px solid #DA3231;
	}
	@media screen and (min-width: 1050px){
		width: 250px;
	}
}

.subscribe button {
	cursor: pointer;
	background: #DA3231;
	padding: 10px;
	font-size: 17px;
	font-family: font_thin;
	font-weight: bold;
	border: none;
	border-radius: none;
	color: white ;
	transition: border-radius 0.3s ,background 0.3s;
	&:hover {
		border-radius: 8px
	}
	&:focus {
		border: 1px solid black;
	}
}

.subscribe-back {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: black;
}

.container {
	padding-top: calc(5vh + 70px);
}

.images {
	justify-content: center;
	height: 250px;
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	overflow-x: scroll;
	box-sizing: padding-box;
	display: none;
	@media screen and (min-width: 1050px) {
		display: flex;
	}
	&::-webkit-scrollbar { 
		display: none; 
	}
}